{
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/jest",
    "plugin:@shopify/prettier"
  ],
  "rules": {
    "import/extensions": "off",
    "import/named": "off",
    "import/no-cycle": "off",
    "jest/require-tothrow-message": "off",
    "jest/no-if": "off",
    "node/no-extraneous-require": "off",
    "callback-return": "off",
    "func-style": "off",
    "id-length": "off"
  },
  "ignorePatterns": [
    "babel.config.js",
    "dist"
  ]
}
