on: 
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Upload Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, windows/386, windows/amd64, darwin/amd64
        goos: [linux, windows, darwin]
        goarch: ["386", amd64]
        exclude:
          - goarch: "386"
            goos: darwin
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16'
      - run: go build ./...
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
      - run: tar -czvf ${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz get-repo-images
      - name: Upload ${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz to release
        uses: Shopify/upload-to-release@master
        with:
          name: ${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz
          path: ${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          content-type: text/plain

  publish-npm:
    name: Publish NPM Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          registry-url: 'https://registry.npmjs.org'
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
